@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
} 
/* navbar style start  */
 .main-nav {
  position: fixed;
  width: 100%;
  height: 6rem;
  display: grid;
  background-color: rgb(6, 100, 100);
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.btn {
  grid-column: 4/5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn li,
.btn Link {
  color: rgba(245, 245, 245, 0.699);
  list-style: none;
  font-size: 2rem;
}
.btn li:hover {
  cursor: pointer;
  color: whitesmoke;
  font-weight: bold;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.5rem;
} 


